# Langchain core
langchain
langchain_core

# OpenAI integration
langchain-openai
openai

# Anthropic integration
langchain-anthropic
anthropic

# Cohere integration
langchain-cohere
cohere

# HuggingFace Hub integration
langchain-huggingface
huggingface

# Google
langchain-google-genai
google-generativeai

transformers

python-dotenv

# ML
numpy
scikit-learn